@model mushrooms_ml.Models.Mushroom

@{
    ViewData["Title"] = "View Mushroom";
}

<h2>View Mushroom</h2>

<div class="mb-3">
    <a asp-action="Index" class="btn btn-secondary">Back to Auction</a>
</div>

<div class="form-group">
    <label>Cap Shape</label>
    <input class="form-control" value="@Model.CapShape" readonly />
</div>

<div class="form-group">
    <label>Cap Surface</label>
    <input class="form-control" value="@Model.CapSurface" readonly />
</div>

<div class="form-group">
    <label>Cap Color</label>
    <input class="form-control" value="@Model.CapColor" readonly />
</div>

<div class="form-group">
    <label>Bruises</label>
    <input class="form-control" value="@Model.Bruises" readonly />
</div>

<div class="form-group">
    <label>Odor</label>
    <input class="form-control" value="@Model.Odor" readonly />
</div>

<div class="form-group">
    <label>Gill Attachment</label>
    <input class="form-control" value="@Model.GillAttachment" readonly />
</div>

<div class="form-group">
    <label>Gill Spacing</label>
    <input class="form-control" value="@Model.GillSpacing" readonly />
</div>

<div class="form-group">
    <label>Gill Size</label>
    <input class="form-control" value="@Model.GillSize" readonly />
</div>

<div class="form-group">
    <label>Gill Color</label>
    <input class="form-control" value="@Model.GillColor" readonly />
</div>

<div class="form-group">
    <label>Stalk Shape</label>
    <input class="form-control" value="@Model.StalkShape" readonly />
</div>

<div class="form-group">
    <label>Stalk Root</label>
    <input class="form-control" value="@Model.StalkRoot" readonly />
</div>

<div class="form-group">
    <label>Stalk Surface Above Ring</label>
    <input class="form-control" value="@Model.StalkSurfaceAboveRing" readonly />
</div>

<div class="form-group">
    <label>Stalk Surface Below Ring</label>
    <input class="form-control" value="@Model.StalkSurfaceBelowRing" readonly />
</div>

<div class="form-group">
    <label>Stalk Color Above Ring</label>
    <input class="form-control" value="@Model.StalkColorAboveRing" readonly />
</div>

<div class="form-group">
    <label>Stalk Color Below Ring</label>
    <input class="form-control" value="@Model.StalkColorBelowRing" readonly />
</div>

<div class="form-group">
    <label>Veil Type</label>
    <input class="form-control" value="@Model.VeilType" readonly />
</div>

<div class="form-group">
    <label>Veil Color</label>
    <input class="form-control" value="@Model.VeilColor" readonly />
</div>

<div class="form-group">
    <label>Ring Number</label>
    <input class="form-control" value="@Model.RingNumber" readonly />
</div>

<div class="form-group">
    <label>Ring Type</label>
    <input class="form-control" value="@Model.RingType" readonly />
</div>

<div class="form-group">
    <label>Spore Print Color</label>
    <input class="form-control" value="@Model.SporePrintColor" readonly />
</div>

<div class="form-group">
    <label>Population</label>
    <input class="form-control" value="@Model.Population" readonly />
</div>

<div class="form-group">
    <label>Habitat</label>
    <input class="form-control" value="@Model.Habitat" readonly />
</div>

<div class="form-group">
    <label>Poisonous</label>
    <input class="form-control" value="@Model.Poisonous" readonly />
</div>
